
<div class="quiz-container d-flex justify-content-center align-items-center">
  <%# <div class="quiz-header">
  </div> %>
  <div class="quiz-wrapper">
    <h2>Preferences Quiz</h2>
    <div class="quiz-container-inner">
      <div><h1><%= @question.content %></h1></div>
      <div>
        <!-- form for submitting answers -->
        <%= simple_form_for [@question, @answer], html: {class: 'quiz-form'} do |f| %>
        <%= f.input :choice, as: :radio_buttons, label: "required", collection: @question.options %>
        <%= f.button :submit, "Next", class: 'btn-flat' %>
        <% end %>
      </div>
    </div>
        <div id="quiz-exit" class="surprise-orange-ghost-btn">
          <%= link_to "Exit Quiz", landing_questions_path %>
        </div>
  </div>
</div>
