
<div class="page-container-rating flex-column">
  <h1>You are now rating the following product</h1>
  <div class="page-container-rating-inner d-flex justify-content-center align-items-center">
    <div>
      <%= image_tag("logo.png", class: "rating-image") %>
    </div>
    <div class="rating-description">
      <div class="rating-description-inner">
        <h2><%= @product.name %></h2>
        <p><%= @product.description %></p>
      </div>
      <div class="rating-container">
        <%= simple_form_for @rating, url: users_gift_received_rating_path, html: { class: "rating_form" } do |f| %>
          <%= f.input :rating, collection: (1..5).to_a, label: false %>
          <%= f.submit class: 'btn surprise-pink-btn' %>
        <% end %>
      </div>

    </div>
  </div>
</div>
