<div class="page-container-rating">
  <div class="page-container-rating-inner d-flex justify-content-center align-items-center">
    <div>
      <%= image_tag("logo.png", class: "rating-image") %>
    </div>
    <div class="rating-description">
      <div>
        <h2><%= @product.name %></h2>
        <p><%= @product.description[0] %></p>
      </div>
      <div class="rating-container">
        <%= simple_form_for @rating, url: product_rating_index_path, html: { class: "rating_form" } do |f| %>
          <%= f.input :rating, collection: (1..5).to_a, label: 'Rating:' %>
          <%= f.submit class: 'btn btn-flat btn-block btn-rating d-none' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
