<div class="container">
  <h2 class='mt-4'>Here are some gift suggestions for <%= @gift_session.recipient.username  %></h2>
  <form class='mt-2'data-controller='check-all-checkboxes'>
    <div class="form-check pl-0">
      <input id="check-all" type="checkbox" data-check-all-checkboxes-target="checkbox" data-action="change->check-all-checkboxes#checkAll">
      <label for="check-all">Select All</label>
    </div>

    <% @gift_session.gift_recommendations.each do |recommendation| %>
      <%# <% if recommendation.product.price_cents <= @gift_session.budget %>
      <div class="card-gift form-check">
        <input id='checkbox-product' type="checkbox" class="form-check-input" data-check-all-checkboxes-target="check3box">
        <label for='checkbox-product'></label>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-gift-infos">
          <h2><%= recommendation.product.name %></h2>
          <p>Product rating</p>
          <p><%= recommendation.product.description %></p>
        </div>

        <h4><%= humanized_money_with_symbol(recommendation.product.price) %></h4>

        <div data-controller="quantity" data-quantity-target='wrapper' data-product-id=<%= recommendation.product.id %> >
          <button data-action="click->quantity#reduce">-</button>
          <p data-quantity-target="total"> 0 </p>
          <button data-action="click->quantity#add">+</button>
        </div>
      </div>



    <% end %>
  </form>

  <div class="gift-checkout">
    <%= link_to "View cart", cart_path(@current_cart), class: "btn btn-ghost" %>
  </div>
</div>
