
<h1>Here are some gift suggestions for <%= @gift_session.recipient.username  %></h1>
<% @gift_session.gift_recommendations.each do |recommendation| %>
  <%= recommendation.product.image_url %>
  <%= recommendation.product.name %>
  <%= recommendation.product.description %>
  $<%= recommendation.product.price %> <br>
<% end %>
<%= link_to "Check out now", gift_sessions_path, class: "btn btn-ghost" %>
