<div class="friend-side-panel">
  <%= link_to friendships_path do %>
    <div class="side-panel-text">All Friends</div>
  <% end %>

  <%= link_to friendships_requests_path do %>
    <div class="side-panel-text">Friend Request</div>
  <% end %>

  <%= link_to birthdays_path do %>
    <div class="side-panel-text">Birthday Reminder</div>
  <% end %>

  <%= link_to received_path do %>
    <div class="side-panel-text">Gifts Received</div>
  <% end %>

  <% if @response_sets.empty? %>
    <%= link_to question_path(@question) do %>
      <div class="side-panel-text">Preference Quiz</div>
    <% end %>
  <% else %>
    <%= link_to response_sets_path do %>
      <div class="side-panel-text">Preference Quiz</div>
    <% end %>
  <% end %>
</div>
