<div class="friend-side-panel">
  <%= link_to friendships_path do %>
    <div class="side-panel-text">All Friends</div>
  <% end %>

  <%= link_to friendships_requests_path do %>
    <div class="side-panel-text">Friend Request</div>
  <% end %>

  <%= link_to birthdays_path do %>
    <div class="side-panel-text">Birthday Reminder</div>
  <% end %>

  <%= link_to received_path do %>
    <div class="side-panel-text">Gifts Received</div>
  <% end %>

  <div class="side-panel-text">
    <% if @response_sets.empty? %>
      <%= link_to "Preference Quiz", question_path(@question) %>
    <% else %>
      <%= link_to "Preference Quiz", response_sets_path %>
    <% end %>
  </div>
</div>
