
<div class="navbar-height navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-end">

  <div class="d-flex align-items-center">
    <%= link_to root_path, class: "navbar-brand logo-wrapper" do %>
      <%= image_tag(asset_path('logo.png')) %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= simple_form_for :friendships, url: "/friendships/search", method: :get do |f| %>
      <div class="nav-searchbar">
        <input class="required rounded-input-field" type="text" name="query" id="query" placeholder="Seach for member..."/>
        <button name="button" type="submit" class="button-none ml-3" >
          <i class="fas fa-search navbar-search-icon icon-pink"></i>
        </button>
      </div>
    <% end %>

  </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class=" mr-auto d-flex align-items-center mb-0 list-style-none">
        <% if user_signed_in? %>

          <li class="nav-item active list-style-none nav-item-wrap">
            <i class="fas fa-home nav-icon"></i>
            <%= link_to "Home", root_path, class: "cust-nav-link" %>
          </li>

          <li class="nav-item active list-style-none nav-item-wrap">
            <i class="fas fa-users nav-icon"></i>
            <%= link_to "Friends", friendships_path, class: "cust-nav-link" %>
          </li>

          <li class="nav-item active list-style-none nav-item-wrap">
            <i class="fas fa-shopping-cart nav-icon"></i>
            <%= link_to "My cart", root_path, class: "cust-nav-link" %>
          </li>

          <li class="nav-item dropdown ml-3">
            <% if current_user.profile_photo.attached? %>
              <%= cl_image_tag current_user.profile_photo.key, class: "avatar-navbar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag(asset_path("blank-profile-picture.png"),class: "avatar-navbar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
              <%# <%= cl_image_tag("qef3hpwpcsezqvzin6g0.png"), height: 60, width: 60,crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item nav-li">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item nav-li ">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
    </div>
</div>
