  <div class="friend-page-container">
    <div class="friend-side-panel">
      <p class="side-panel-text"><%= link_to "All friends", friendships_path%></p>
      <p class="side-panel-text"><%= link_to "Friend Request", friendships_requests_path%></p>
      <p class="side-panel-text"><%= link_to "Birthday reminder", "#"%></p>
    </div>

    <div class="friend-content container">
      <h2 class="page-func">All friends</h2>

      <% if @friend_list.empty? %>
        <div class="outside-card-product">
          <p style="margin:auto"> You haven't add any friend yet!</p>
        </div>

      <% else %>
        <% @friend_list.each do |friendship| %>

          <div class="outside-card-product">
            <div class="card-product">
              <div class="photo-container">
                <img alt="profile-photo" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
              </div>
              <div class="card-product-infos">
                <% last_n = friendship.friend.last_name %>
                <% first_n = friendship.friend.first_name %>
                <strong><%= link_to last_n  , friendship_path(friendship.friend),class:"friend-card-name" %></strong>
                <p class="mt-2"><i class="fas fa-birthday-cake mr-3"></i><%= friendship.friend.birthday %></p>
              </div>
            </div>

            <div class="friend-card-btns">
                    <%# <--- when removing friend ---> %>
              <div class="card-product-actions">
                <a href="#">Remove friend <i class="far fa-trash-alt"></i></a>
              </div>
                  <%# <--- Send gift ---> %>
              <div class="card-product-actions">
                <%= link_to  friendship_path(friendship.friend) do %>
                  Send a gift <i class="fas fa-gift"></i>
                <% end %>
              </div>
            </div>

          </div>
        <% end %>

     <% end %>
    </div>
</div>
