<div class="friend-page-container">
  <div class="friend-side-panel">
    <p class="side-panel-text"><%= link_to "All Friends", friendships_path%></p>
    <p class="side-panel-text"><%= link_to "Friend Request", friendships_requests_path%></p>
    <p class="side-panel-text"><%= link_to "Birthday Reminder", birthdays_path%></p>
    <p class="side-panel-text">

      <% if @response_sets.empty? %>
        <%# <%= link_to "Preference Quiz", question_path(@question) %>
      <%# <% else %>
        <%# <%= link_to "Preference Quiz", response_sets_path %>
      <%# <% end %>
    <%# </p> %>

  </div>

  <div class="friend-content container">
    <h2 class="page-func">All friends</h2>
    <% if @friend_list.empty? %>
      <div class="outside-card-product">
        <p style="margin:auto"> You haven't add any friend yet!</p>
      </div>
    <% else %>
      <% @friend_list.each do |friendship| %>
        <div class="outside-card-product">
          <div class="card-product">
            <div class="photo-container">
              <% if friendship.friend.profile_photo.attached? %>
                      <%= cl_image_tag friendship.friend.profile_photo.key, class:"rounded-circle" %>
              <% else %>
                <%= image_tag(asset_path("blank-profile-picture.png"), class:"rounded-circle") %>
                <%# <%= cl_image_tag("qef3hpwpcsezqvzin6g0.png"), height: 60, width: 60,crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
            </div>
            <div class="card-product-infos">

              <strong><%= link_to friendship_path(friendship.friend),class:"friend-card-name" do %>
                  <p><%= friendship.friend.first_name %> <%= friendship.friend.last_name %></p>
                  <% end %>
              </strong>

              <p class="mt-2"><i class="fas fa-birthday-cake mr-3"></i><%= friendship.friend.birthday %></p>
            </div>
          </div>

          <div class="friend-card-btns">
                  <%# <--- when removing friend ---> %>
            <div class="card-product-actions">
              <%= link_to  friendship_path(friendship.friend) do %>
                Send a gift <i class="fas fa-gift"></i>
              <% end %>
            </div>
                <%# <--- Send gift ---> %>
            <div class="card-product-actions">
              <%= link_to friendship_path(friendship),method: :delete do %>
                Remove friend <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>

        </div>
      <% end %>

    <% end %>
  </div>
</div>
