<div class="friend-page-container">

  <div class="friend-side-panel">
    <p class="side-panel-text"><%= link_to "All friends", friendships_path%></p>
    <p class="side-panel-text"><%= link_to "Friend Request", friendships_requests_path%></p>
    <p class="side-panel-text"><%= link_to "Birthday reminder", "#"%></p>
  </div>

  <div class="friend-content container">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="page-func"> Friend requests </h2>

      <button type="button" class="btn-border-none" data-toggle="modal" data-target="#exampleModalCenter">
          View sent request
      </button>
    </div>

<!------ view sent request --------->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Sent friend request</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-0">

            <% @requests.each do |request| %>
              <div class="sent-request">
                <div class="sent-request-side">
                  <div>
                    <% if request.friend.profile_photo.attached? %>
                      <%= cl_image_tag request.friend.profile_photo.key,gravity: :face, crop: :crop,height: 40, width: 40 %>
                    <% else %>
                      <%= image_tag(asset_path("blank-profile-picture.png"), width: 40,class:"avatar") %>
                      <%# <%= cl_image_tag("qef3hpwpcsezqvzin6g0.png"), height: 60, width: 60,crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                    <% end %>
                  </div>

                  <div class="sent-request-name">
                    <p><%= request.friend.first_name %><%= request.friend.last_name %></p>
                  </div>
                </div>

                <div class="sent-cancel-request">
                  <%= link_to "Cancel", request_cancel_path(request) ,method: :delete %>
                </div>
              </div>

            <% end %>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>
<!------- End of modal -- ----->

      <% if @invitations.empty? %>
        <div class="outside-card-product">
          <p style="margin:auto"> You don't have any friend request for now !</p>
        </div>
      <% else %>
        <% @invitations.each do |invitation| %>
          <div class="outside-card-product">
            <div class="card-product">
              <div class="photo-container">
                <% if invitation.user.profile_photo.attached? %>
                  <%= cl_image_tag invitation.user.profile_photo.key,gravity: :face, crop: :crop,height: 120, width: 100 %>
                <% else %>
                  <%= image_tag(asset_path("blank-profile-picture.png"),height: 120, width: 100) %>
                  <%# <%= cl_image_tag("qef3hpwpcsezqvzin6g0.png"), height: 60, width: 60,crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
              </div>
              <div class="card-product-infos">
                <strong><%= link_to friendship_path(invitation.user),class:"friend-card-name" do %>
                  <p><%= invitation.user.first_name %> <%= invitation.user.last_name %></p>
                  <% end %>
                </strong>
              </div>
            </div>

            <div class="friend-card-btns">
              <div class="card-product-actions">
                <%= link_to friendships_accept_path(invitation) ,method: :post do %>
                  Accept <i class="fas fa-user-check"></i>
                <% end %>
              </div>

              <div class="card-product-actions">
                <%= link_to request_cancel_path(invitation) ,method: :delete do %>
                  Cancel <i class="fas fa-user-slash"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
