<div class="friend-page-container">
  <div class="friend-side-panel">
    <p class="side-panel-text"><%= link_to "All friends", friendships_path%></p>
    <p class="side-panel-text"><%= link_to "Friend Request", friendships_requests_path%></p>
    <p class="side-panel-text"><%= link_to "Birthday reminder", "#"%></p>
  </div>


  <div class="friend-content container">
    <h2 class="page-func">Search results</h2>

    <% if @users.empty? %>
      <div class="outside-card-product">
        <p style="margin:auto"> No such user</p>
      </div>
    <% else %>
      <% @users.each do |user| %>
        <div class="outside-card-product">
            <div class="card-product">
              <div class="photo-container">
                <% if user.profile_photo.attached? %>
                    <%= cl_image_tag user.profile_photo.key,gravity: :face, crop: :crop,height: 120, width: 100 %>
                <% else %>
                    <%= image_tag(asset_path("blank-profile-picture.png"),height: 120, width: 100) %>
                    <%# <%= cl_image_tag("qef3hpwpcsezqvzin6g0.png"), height: 60, width: 60,crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>

              </div>
              <div class="card-product-infos">
                <strong><%= link_to friendship_path(user),class:"friend-card-name" do %>
                    <p><%= user.first_name %> <%= user.last_name %></p>
                    <% end %>
                </strong>
              </div>
            </div>

            <!--- to use for adding friend --->
            <div class="card-product-actions mr-4">
              <% if @friendship.find_by user:current_user, friend:user, status: false %>
                Pending confirmation
              <% elsif current_user.friends.include?(user) %>
                <%= link_to friendship_path(user) do %>
                  Send a gift <i class="fas fa-gift"></i>
                <% end %>
              <% elsif @friendship.find_by user:user, friend:current_user %>
                <% @request = @friendship.find_by user:user, friend:current_user %>
                <%= link_to friendships_accept_path(@request),method: :post do %>
                  Accept request <i class="fas fa-user-plus"></i>
                <% end %>
              <% else %>
                <div data-controller="notification">
                  <%= link_to friendships_path(user),method: :post do %>
                    Add friend <i class="fas fa-user-plus"></i>
                  <% end %>
                </div>
              <% end %>

            </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
