<div class="friend-page-container">
  <div class="friend-side-panel">
  <%= link_to friendships_path do %>
    <div class="side-panel-text">All Friends</div>
  <% end %>

  <%= link_to friendships_requests_path do %>
    <div class="side-panel-text">Friend Request</div>
  <% end %>

  <%= link_to birthdays_path do %>
    <div class="side-panel-text">Birthday Reminder</div>
  <% end %>

  <%= link_to received_path do %>
    <div class="side-panel-text">Gifts Received</div>
  <% end %>

  <div class="side-panel-text">
    <% if @response_sets.empty? %>
    <% raise %>
      <%= link_to "Preference Quiz", question_path(@question) %>
    <% else %>
      <%= link_to "Preference Quiz", response_sets_path %>
    <% end %>
  </div>

</div>


  <div class="friend-content container">
    <h2 class="page-func">Search results</h2>

    <% if @users.empty? %>
      <div class="outside-card-product">
        <p style="margin:auto"> No such user</p>
      </div>
    <% else %>
      <% @users.each do |user| %>
        <div class="outside-card-product">
            <div class="card-product">
              <div class="photo-container">
                <% if user.profile_photo.attached? %>
                    <%= cl_image_tag user.profile_photo.key, class:"rounded-circle" %>
                <% else %>
                    <%= image_tag(asset_path("blank-profile-picture.png"), class:"rounded-circle") %>
                    <%# <%= cl_image_tag("qef3hpwpcsezqvzin6g0.png"), height: 60, width: 60,crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>

              </div>
              <div class="card-product-infos">
                <strong><%= link_to friendship_path(user),class:"friend-card-name" do %>
                    <p><%= user.first_name %> <%= user.last_name %></p>
                    <% end %>
                </strong>
              </div>
            </div>

            <!--- to use for adding friend --->
            <div class="card-product-actions mr-4">
              <% if @friendship.find_by user:current_user, friend:user, status: false %>
                Pending confirmation
              <% elsif current_user.friends.include?(user) %>
                <%= link_to friendship_path(user) do %>
                  Send a gift <i class="fas fa-gift"></i>
                <% end %>
              <% elsif @friendship.find_by user:user, friend:current_user %>
                <% @request = @friendship.find_by user:user, friend:current_user %>
                <%= link_to friendships_accept_path(@request),method: :post do %>
                  Accept request <i class="fas fa-user-plus"></i>
                <% end %>
              <% else %>
                <%= link_to friendships_path(user),method: :post do %>
                  Add friend <i class="fas fa-user-plus"></i>
                <% end %>
              <% end %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
