<div class="container">
  <div class="card-user">
    <div class="card-user-profile-info">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-user-info">
        <h1><%= @friend.username.capitalize() %></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Elit sed vulputate mi sit amet mauris. Semper risus in hendrerit gravida.</p>
      </div>

      <div class="card-user-add">
        <% if @friend_list %>
          <i class="fas fa-user-friends"></i>
        <% else %>
          <%= link_to friendships_path(recipient_id: params[:id] ), method: :post do %>
            <i class="fas fa-user-plus"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="simple_form">
      <%= simple_form_for @gift_session do |f| %>
        <div class="card-user-product">
          <p>Pick an occasion:</p>
          <div class="cards">
            <% @occasions.each do |occasion| %>
              <input type="radio" name="gift_session[occasion_id]" value="<%= occasion.id %>" id="<%= "occasion-#{occasion.id}" %>">
              <label class="card-label" for="<%= "occasion-#{occasion.id}" %>">
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path occasion.cover_image, width: 700, height: 350, crop: :fit %>)">
                  <%= occasion.name.capitalize %>
                </div>
              </label>
            <% end %>
          </div>
        </div>
        <div class="card-user-budget">
          <div class="budget-submit">
          <div class="d-flex align-items-center mx-4">
            $10
            <%= f.range_field :budget, min: 10, max: 500, value: 250, class:"slider", id:"price_range" %>
            $500
          </div>
            <p>Budget: $<span id="selected_range"></span></p>
            <%= hidden_field_tag 'recipient_id', params[:id] %>
          </div>
            <%= f.button  :submit, 'Send a gift', class: "btn btn-flat" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
