<!-- To be updated when cart completed -->
<div class="cart-checkout-wrapper min-vh-100">

  <div class="container">
    <div class="row py-4">
      <div class="col">
        <h2>Here is your order details:</h2>
        <h3>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h3>
        <ul class="list-unstyled">
          <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
          <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
          </li>
        </ul>
        <p>Estimated delivery in <strong>2 business days</strong></p>
      </div>
    </div>
  </div>

  <h1>Thank you for choosing a give for <%= @gift_session.recipient.username %>!</h1>
  <h2>And we're sure <%= @gift_session.recipient.username %> will love the gift!</h2>

</div>
