<div class="container mt-5">
  <h1>Shopping Cart</h1>

  <div class="shopping-cart">

    <div class="column-labels">
      <label class="product-image">Image</label>
      <label class="product-details">Product</label>
      <label class="product-price">Price</label>
      <label class="product-quantity">Quantity</label>
      <label class="product-removal">Remove</label>
      <label class="product-line-price">Total</label>
    </div>

    <% total = 0 %>

    <% @cart.line_items.each do |line_item| %>
      <div class="product">
        <div class="product-image">
          <%# <%= image_tag line_item.product.image_url %>
        </div>
        <div class="product-details">
          <div class="product-title"><%= line_item.product.name %></div>

        </div>
        <div class="product-price"><%= line_item.product.price %></div>
        <div class="product-quantity">
          <%= line_item.quantity %>
        </div>
        <div class="product-removal">
          <%= button_to "Remove",line_items_path(id: line_item),method: :delete ,class: "remove-product"%>
          <%# <button class="remove-product">
            Remove
          </button> %>
        </div>
        <% total += line_item.product.price * line_item.quantity %>
        <div class="product-line-price"><%= line_item.product.price * line_item.quantity %></div>
      </div>
    <% end %>


    <div class="totals">
      <div class="totals-item">
        <label>Subtotal</label>
        <div class="totals-value" id="cart-subtotal"></div>
      </div>
      <div class="totals-item">
        <label>Tax (7%)</label>
        <div class="totals-value" id="cart-tax"><%=total *0.07%></div>
      </div>
      <div class="totals-item">
        <label>Shipping</label>
        <div class="totals-value" id="cart-shipping">15.00</div>
      </div>
      <div class="totals-item totals-item-total">
        <label>Grand Total</label>
        <div class="totals-value" id="cart-total"><%= total %></div>
      </div>
      <%= form_tag orders_path do %>
        <%= hidden_field_tag 'cart_id', @current_cart.id %>
        <%= submit_tag 'Purchase', class: 'btn btn-primary float-right' %>
      <% end %>
    </div>
  </div>
</div>
