<div class="gift-cart-wrapper">
  <div class="container container-cart">
    <h1>Gift Cart</h1>

    <%# <div class="column-labels">
      <label class="product-details">Product</label>
      <label class="product-price">Price</label>
      <label class="product-quantity">Quantity</label>
      <label class="product-removal">Remove</label>
      <label class="product-line-price">Total</label>
    </div> %>

    <% total = 0 %>

    <% @cart.line_items.each do |line_item| %>
      <div class="cart-items">
        <div class="product">
          <div class="product-details">
            <div class="product-title"><%= line_item.product.name %></div>
          </div>

          <div class="quan-price">
            <div class="product-quantity">
              qty: <%= line_item.quantity %>
            </div>
            <% total += line_item.product.price * line_item.quantity %>
            <div class="product-line-price"><%= line_item.product.price * line_item.quantity %></div>
          </div>

          <div class="product-removal">
            <%# <%= button_to "x",line_items_path(id: line_item),method: :delete , class: "remove-product text-center"%>
            <%= link_to "", line_items_path(id: line_item), method: :delete, class: "fas fa-times-circle" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="totals">
    <div class="totals-portion">
        <h3>Purchase Summary</h3>
      <div class="totals-item">
        <label>Subtotal</label>
        <div class="totals-value" id="cart-subtotal"><%= total %></div>

        <label>Tax (7%)</label>
        <div class="totals-value" id="cart-tax"><%= total *0.07%></div>

        <label>Shipping</label>
        <div class="totals-value" id="cart-shipping">15.00</div>


        <label>Grand Total</label>
        <div class="totals-value" id="cart-total"><%= (total *1.07).to_d + 15.0 %></div>
      </div>
      <%= form_tag orders_path, class:"text-center mt-2" do %>
        <%= hidden_field_tag 'cart_id', @current_cart.id %>
        <%= submit_tag 'Confirm and Pay', class: 'btn btn-submit item-center' %>
      <% end %>
    </div>
  </div>

</div>

























          <%# <button class="remove-product">
            Remove
          </button> %>
