<div class="friend-page-container">
  <%= render 'shared/friend-side-panel' %>

<div class="friend-content container">
    <h2 class="page-func">Upcoming Birthdays</h2>
    <% if @friend_list.empty? %>
      <div class="outside-card-product">
        <p style="margin:auto"> You haven't added a friend yet!</p>
      </div>
    <% else %>
      <% if @sortedbirthday.count > 0 %>
        <% @sortedbirthday.each do |friend| %>
          <div class="outside-card-product">
            <div class="card-product">
              <div class="photo-container">
                <%# if birthday is 7 days from today %>
                <% if friend.profile_photo.attached? %>
                  <%= cl_image_tag friend.profile_photo.key,gravity: :face, crop: :crop, class:"rounded-circle" %>
                <% else %>
                  <%= image_tag(asset_path("blank-profile-picture.png"), class:"rounded-circle") %>
                <% end %>
              </div>
              <div class="card-product-infos birthday">

                <strong><%= link_to friendship_path(friend),class:"friend-card-name" do %>
                    <p><%= friend.first_name.capitalize %> <%= friend.last_name.capitalize %>'s birthday is <%= pluralize( (friend.birthday.yday - Date.today.yday), 'day') %> away!</p>
                    <% end %>
                </strong>

                <%# <p class="mt-2"><i class="fas fa-birthday-cake mr-3"></i><%= friend.birthday %>

              </div>
            </div>

            <div class="friend-card-btns">
              <%# <--- Send gift ---> %>
              <div class="card-product-actions">
                <%= link_to  friendship_path(friend) do %>
                  Send a gift <i class="fas fa-gift"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="outside-card-product reject">
          <p style="margin:auto"> There are no upcoming birthdays.</p>
        </div>
      <% end %>
    <% end %>
  </div>
